<h1>Weather#city</h1>
Search City: <%= text_field_tag HTTParty.get("https://api.openweathermap.org/data/2.5/weather?appid=f46cb82bb879ec7201591b87896c4429&q=#{params[:city]}") %>
<%= submit_tag "Submit" %>